*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    transition: all ease-out .2s;
}
body{
    background-color: hsl(218, 23%, 16%);
    height: 100vh;
    display: grid;
    place-items: center;
}
.container{
    text-align: center;
    position: relative;
    border-radius: 10px;
    background-color: hsl(217, 19%, 24%);
    padding: 30px;
    width: min(90%,450px);
}
h2{
    font-size: 16px;
    color:hsl(150, 100%, 66%);
    text-transform: uppercase;
    font-weight: 800;

}
p{
    font-size: 25px;
    margin: 20px 0;
    color:  hsl(193, 38%, 86%);
    font-weight: 800;
}
.img{
    width: 100%;
    margin-bottom: 15px;
}
.img img{
    width: 100%;

}
.abs{
    position: absolute;
    bottom: 0;
    right: 50%;
    height:50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transform: translate(50%,50%);
    background-color:hsl(150, 100%, 66%) ;
    cursor: pointer;
    transition: all ease-in-out .2s;

}
.abs img{
    width: 40%;
}
.abs:hover,.abs:active{
    box-shadow: 0 0 20px hsl(150, 100%, 66%);
}